@media screen and (max-width: 650px) {
    nav{  
        padding: 0 5%;
    }
    .menu-mobile-icon {
        display:block; 
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        right: -100%; 
        width: 70%;
        height: 100vh;
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3000 !important;
        transition: 0.5s;
        border-left: 1px solid var(--primary-color);
        list-style: none;
    }

    nav ul.abrir-menu {
        display: flex !important;
        right: 0;
    }

    nav ul li {
        margin: 20px 0;
        width: 100%;
        text-align:center;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: white !important;
        display: block;
    }

    .overlay-menu {
        display: none;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 2;
    }

    .overlay-menu.active {
        display: block;
        z-index: 1;
    }


    
}

@media screen  and (min-width:480px) {
    .project-grid::-webkit-scrollbar{
    display: none;

}
    
}

@media screen and (max-width: 480px) {



    .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: auto;
}
.profile-pic {
    width: 150px;
    height: 150px;
}

  .contact-container {
        grid-template-columns: 1fr;
        gap: 30px;
}
    .contact {
        text-align: left;
 }
  .project-grid {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    
    .scroll-btn{
        
        display: none;
    }

}

    @media screen  and (max-width: 260px) {
        .project-card{
            margin: 0 10px;
            width: 100%;
            max-width: 100%;
        }
        
}

