:root {
    --primary-color: #ff230b;
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-color: #ffffff;
}
body{
    background-color: white;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 1900px;
  height: 100vh;
  pointer-events: none;
  
  background: linear-gradient(
    to right,
    rgba(240, 113, 35, 0.529),
    transparent
   
  );
}


 * {
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    z-index: 2;
}
.imagem {
    display: block;
    justify-content: center;
    margin-top: 90px;
    
}

.imagem img {
    width: 50px;
    height: 50px;
    
}

.tudo{
  
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300px;
    text-align: center;
    color: #1e1e1e;
}
/*
.ops{
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 100px;
    color: var(--primary-color);
}
@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
*/
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #1e1e1e;
    margin-top: 70px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#typing-text::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.5s infinite;

}
#typing-text {
    font-family: 'Courier New', monospace;
    font-size: 80px;
    min-height: 80px;
    margin-bottom: 50px;
    margin-bottom: 20px;
    display: inline-block;
}
.btn:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 35, 11, 0.6);

}

.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
    padding: 12px 30px;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: transparent;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 120px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

